.game {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  min-height: calc(65vh - 20px);
  height: 100%;
  font-family: "Pacifico";
}

.game-content {
  margin-top: 1%;
}

.game-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  background-color: #6aafff;
  border-radius: 10px;
}

.game-title {
  max-width: 85%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "Pacifico";
  color: white;
}

@media (max-width: 768px) {
  .game-title {
    max-width: 75%;
    font-size: 2rem;
  }
}

.game-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-artists-image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #6aafff;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-animation: anime 0.5s ease-in-out;
          animation: anime 0.5s ease-in-out;
}

.home-icon {
  -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(11%) hue-rotate(322deg) brightness(104%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(11%) hue-rotate(322deg) brightness(104%) contrast(102%);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.back-category {
  -webkit-filter: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(11%) hue-rotate(322deg) brightness(104%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(91%) sepia(100%) saturate(11%) hue-rotate(322deg) brightness(104%) contrast(102%);
}

.question-container {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 0;
}

.question-text {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 480px) {
  .question-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .question-text {
    font-size: 1.2rem;
  }
}

.images-container {
  position: relative;
  max-width: 100%;
  width: 70%;
  min-height: 65vh;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
}

@media (max-width: 1919px) and (max-device-aspect-ratio: 4 / 2) {
  .images-container {
    width: 85%;
    min-height: 50vh;
  }
}

@media (max-width: 768px) {
  .images-container {
    width: 85%;
    min-height: 50vh;
  }
}

@media (max-width: 480px) {
  .images-container {
    min-height: 48vh;
  }
}

@media (max-width: 480px) and (min-height: 737px) {
  .images-container {
    min-height: 40vh;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .images-container {
    width: 100%;
    min-height: 52vh;
  }
}

.images-container.open {
  -webkit-animation: page-open 1s ease-in-out;
          animation: page-open 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes page-open {
  to {
    opacity: 1;
  }
}

@keyframes page-open {
  to {
    opacity: 1;
  }
}

.images-container.slide-in-artists {
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
  opacity: 1;
}

.images-container.slide-out-artists {
  -webkit-transform: translate(-150%, -150%) rotate(360deg);
          transform: translate(-150%, -150%) rotate(360deg);
  opacity: 0;
}

.images-container.slide-in-pictures {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.images-container.slide-out-pictures {
  -webkit-transform: translate(-200%, 0);
          transform: translate(-200%, 0);
  opacity: 0;
}

.answer-progress {
  max-width: 100%;
  width: 100%;
  height: 5vh;
}

.answer-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 12vh;
}

@media (max-width: 767px) {
  .answer-buttons-container {
    min-height: 30vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.progress-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-dot {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.progress-dot.active {
  border: 1px solid white;
  background-color: white;
}

.button-answer {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Pacifico";
  width: 100%;
  max-width: 49%;
  height: 40px;
  padding: 2px;
  border: 2px solid #6aafff;
  border-radius: 5px;
  opacity: 1;
  -webkit-animation: anime 1s ease-in-out;
          animation: anime 1s ease-in-out;
}

@media (max-width: 767px) {
  .button-answer {
    max-width: 90%;
  }
}

@-webkit-keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-answer:hover {
  background-color: white;
}

.picture-game {
  width: 100%;
  min-height: 64vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picture-image-container {
  width: 50%;
  max-width: 100vw;
  border: 2px orange solid;
  border-radius: 8px;
  overflow: hidden;
}

.picture-image-answer {
  display: block;
  width: 100%;
  height: 31vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  cursor: pointer;
  -webkit-transition: 0.5s easy-in-out;
  transition: 0.5s easy-in-out;
  -webkit-animation: anime 0.5s ease-in-out;
          animation: anime 0.5s ease-in-out;
}

.scale {
  display: inline-block;
  overflow: hidden;
}

.scale img {
  -webkit-transition: 1s;
  transition: 1s;
  display: block;
}

.scale img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=game.css.map */